.browser {
  border-top: 2rem solid #ebebeb;
  box-shadow: 
    0 0 10px -5px rgba(0,0,0,.2),
    0 26px 40px -24px rgba(0,0,0,.2);

  position: relative;
  border-radius: .5rem;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow .2s ease;

  &:hover {
    box-shadow: 
      0 0 20px -10px rgba(0,0,0,.28),
      0 40px 68px -37px rgba(0,0,0,.28);
  }

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.2rem;
    left: -.4rem;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    box-shadow: 1.25rem 0 0 2px #f44, 2.25rem 0 0 2px #fb5, 3.25rem 0 0 2px #9b3;
  }
}

.browser__title {
  position: absolute;
  top: -1.5rem;
  color: #333;
  width: 100%;
  text-align: center;
  border-radius: .5rem;
  font-size: .875rem;
  font-weight: 600;
}

.browser__inner {
  max-width: 100%;
  width: 31rem;
  height: 16rem;
  overflow: hidden;
  border-radius: 0 0 .5rem .5rem;

  @media(max-width: 80rem) {
    width: 25rem;
    height: 12.8rem;
  }

  @media(max-width: 70rem) {
    width: 21.5rem;
    height: 11rem;
  }

  @media(max-width: 50rem) {
    width: 100%;
    height: auto;
  } 

  > img {
    width: 100%;
    display: block;
  }
}