.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem 0;
  overflow-x: auto;
  margin: 0 auto;
  max-width: 1200px;

  .browser {
    margin: 1.5rem;
  }
}

.project {
  max-width: 640px;
}

.project__links {
  float: right;
}
